
@{
    ViewData["Title"] = "AddCake";
}

<div id="inputform">
    <form asp-action="AddCake" asp-controller="Home" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <h5>Название торта</h5>
            <input id="name" name="name" type="text" required autocomplete="off"/>
            <br />
        </div>
        <div class="form-group">
            <h5>Короткое описание</h5>
            <input id="shortDesc" name="shortDesc" type="text" required autocomplete="off" />
            <br />
        </div>
        <div class="form-group">
            <h5>Полное описание</h5>
            <textarea id="longDesc" name="longDesc" required ></textarea>
            <br />
        </div>
        <div class="form-group">
            <h5>Изображение</h5>
            <input id="resource" name="resource" type="file" required />
            <br />
        </div>
        <input type="submit" id="sendBtn" value="Отправить" />
    </form>
</div>