@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>О Кондитерской</h1>
<p>Кондитерская «Кафе Пушкинъ» открылась в 2006 году рядом с одноименным рестораном. Андрей Деллос, лично руководивший оформлением интерьера, превратил ее в московский символ утонченной и изысканной французской кондитерской. Роскошный барочный комод с антикварным китайским фарфором, мебель нежно молочных, жемчужно-серебристых и голубых тонов, позолота и хрусталь – все это создает великолепную обстановку французского дворца XVIII века. Персонал, одетый в духе того времени, окончательно дополняет атмосферу и переносит гостей из современной столицы в Париж, Венецию или Петербург времен королей и императоров.</p>
<p>Однако больше всего восхищают, разумеется, десерты – шеф-кондитер и настоящий виртуоз своего дела, вручную создает необыкновенные пирожные, печенья, щербеты, конфеты, украшенные ягодами и сусальным золотом, — настоящие произведения искусства. Все десерты готовятся из продуктов исключительно премиум-класса, доставляемых в кондитерскую напрямую из Франции.</p>
<p>Кондитерская «Кафе Пушкинъ» как нельзя больше располагает к общению. Это прекрасное место для чаепития в семейном кругу, романтического свидания, встреч с друзьями или деловых переговоров. В кондитерской можно не только выпить чай или кофе с десертами, но и полноценно пообедать или поужинать, заказав блюда из меню соседнего ресторана «Кафе Пушкинъ».</p>
<br />
<h1>Контакты</h1>

<p>Адрес: Улица Пушкина д. 2</p>
<p>e-mail: mag.murad.12@gmail.com</p>
<p>Телефон: 89884486547</p>
